<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="assets/deskapp/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="assets/deskapp/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">

                <a routerLink="/company" class="dropdown-toggle no-arrow">
                    <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                </a>


                <li class="dropdown">
                    <a routerLink="/company/AddJob" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-briefcase"></span><span class="mtext">Add Job</span>
                    </a>

                </li>
                <li class="dropdown">
                    <a routerLink="/company/ViewJob" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-rows"></span><span class="mtext">View Job</span>
                    </a>

                </li>
                <li class="dropdown">
                    <a routerLink="/company/Application" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-library"></span><span class="mtext">Application</span>
                    </a>

                </li>
                <li>
                    <a routerLink="/company/CoProfile" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-user"></span><span class="mtext">Profile</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/company/ViewJobseeker" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-users"></span><span class="mtext">View JobSeekers</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/company/CoFeedback" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-star"></span><span class="mtext">Feedback</span>
                    </a>
                </li>

                <li>
                    <a (click)="remove()" class="dropdown-toggle no-arrow" style="color: white;">
                        <span class="micon dw dw-logout1"></span><span class="mtext">Logout</span>
                    </a>

                </li>


            </ul>
        </div>
    </div>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-reg100 p-l-55 p-r-55 p-t-37 p-b-54" style="margin-left: 280px;
        box-shadow: 0px 0px 11px 4px rgba(49,49,49,0.75);-webkit-box-shadow: 0px 0px 11px 4px rgba(49,49,49,0.75);
         -moz-box-shadow: 0px 0px 11px 4px rgba(49,49,49,0.75);">
            <div class="login-100-form validate-form">
                <span class="login-100-form-title p-b-20" style="font-size: 23px;margin-left: 280px;margin-top: 5px;
                font-weight: bold;">Edit Job</span>
                <br/>

                <div class="row col-md-12 " style="margin-top: 10px; ">
                    <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                        <label class="font-weight-bold ">Title</label>
                        <input [(ngModel)]="title" type="text " class="form-control " style="width: 260px;" readonly>

                    </div>

                    <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                        <div class="form-group">

                            <label class="font-weight-bold">Job Type</label>
                            <select [(ngModel)]="jobType" class=" form-control " style="width: 260px;margin-left: -20px; ">
                                    
                                    <option value="Full Time ">Full Time</option>
                                    <option value="Part Time ">Part Time</option>
                                    <option value="Internship ">Internship</option>
                                </select>

                        </div>
                    </div>
                    <br/><br/><br/>
                    <div class="row col-md-12 " style="margin-top: 10px; ">
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Field Type</label>
                            <input [(ngModel)]="fieldType" type="text " class="form-control " readonly>

                        </div>
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Location</label>
                            <input [(ngModel)]="location" type="text " class="form-control " readonly>

                        </div>
                    </div>
                    <div class="row col-md-12 " style="margin-top: 10px; ">
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Job Description</label>
                            <input [(ngModel)]="jobDesc" type="text " class="form-control ">

                        </div>
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Experience</label>
                            <input [(ngModel)]="exp" type="text " class="form-control ">

                        </div>
                    </div>
                    <div class="row col-md-12 " style="margin-top: 10px; ">
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Salary</label>
                            <input [(ngModel)]="salary" type="text" class="form-control ">
                        </div>
                        <div class="col-md-6 mr-0 mt-0 validate-input m-b-0 bri ">
                            <label class="font-weight-bold ">Vacancy</label>
                            <input [(ngModel)]="vacancy" type="number" class="form-control ">

                        </div>
                        <div class="col-md-8 bri ">
                            <br/>
                            <button (click)="updateJob()" class="btn btn-md btn-primary pull-right ml-2 " style="margin-top: 15px;margin-left: 790px; ">Update Job</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>