<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color:white">
    <div class="container">
        <a class="navbar-brand icon-magnet" style="font-size:30px" href="index.html">  Megnify.Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span>Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active"><a routerLink="Home" class="nav-link">Home</a></li>

                <li class="nav-item active"><a routerLink="BrowseJobs" class="nav-link">Jobs</a></li>
                <li class="nav-item cta mr-md-1"><a routerLink="login" class="nav-link">Login</a></li>
                <li class="nav-item cta cta-colored"><a routerLink="coReg" class="nav-link">Company Registration</a></li>&nbsp;
                <li class="nav-item cta "><a routerLink="../jsReg" class="nav-link">JobSeeker Registration</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
            <img class="one-third align-self-end order-md-last img-fluid" src="assets/images/undraw_work_time_lhoj.svg" alt="">


            <h1 style="margin-top: 20px;margin-left: 10px;margin-right: 900px;margin-bottom: 10px;">Largest Job Site</h1>
            <br/><br/><br/><br/><br/>
            <!--div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                BANCD
                <div class="text mt-5">
                    <p class="mb-4 mt-5 pt-5">We have <span class="number" data-number="200000">0</span> great job offers you deserve!</p>
                    <h1 class="mb-5">Largets Job Site In The World</h1>


                </div>
            </div-->
        </div>
    </div>
</div>